.video-frame {
    width: 290px;
    height: auto;
    display: block;
    float: left;
    background-color:#fff;
    margin: 0 5px;
    text-align: center;

    .frame-image {
        height: 180px;
        width: 280px;
        overflow: hidden;
    }

    .frame-callout {
        color: #000;
        bottom: 20px;
        font-size: 0.9em;
        padding: 0 0.5em 1em 0.5em;
        letter-spacing: 0.03em;
        text-align: left;
        word-spacing: 0.05em;
        margin: 0 5px;

        .frame-tag {
            display: block;
            width: 100%;
            font-weight: bold;
            padding: 0.5em 0 0.15em 0;
        }
    }
}